<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         <title>なごやめし</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div th:if="${param.loggedIn}" class="alert alert-warning">
                         ログインしました。
				</div>
				<div th:if="${param.loggedOut}" class="alert alert-warning">
					ログアウトしました。
				</div>
				<div th:if="${successMessage}" class="alert alert-warning">
               <span th:text="${successMessage}"></span>
               </div>
                     
                     <div th:if="${errorMessage}" class="alert alert-warning">
                         <span th:text="${errorMessage}"></span>
                     </div>  
				</div>
				
				<form method="get" th:action="@{/shop}" class="mb-2  nagoyameshi-search-form">
                             <div class="input-group">
                                 <input type="text" class="form-control" name="area" th:value="${area}" placeholder="最寄駅">
                                 
                                 
                                  
                                 <button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button> 
                             </div>               
                         </form>
				
　　　　　　　　　<div class="img-frame">
               <!--  1枚目の画像  -->
               <img class="img-01" th:src="@{/images/food1.jpg}" alt="味噌カツ">
               <!--  2枚目の画像  -->
               <img class="img-02" th:src="@{/images/food4.jpg}" alt="天むす">
               <!--  3枚目の画像  -->
               <img class="img-03" th:src="@{/images/food3.jpg}" alt="手羽先">
　　　　　　　　　
　　　　　　　　　</div>
                 <br>
                 <br>

　　　　　　　　　　<h2 class="mb-5 text-center">カテゴリ</h2>
                    <div class="text-center">
						  <div class="mb-5">
							  <a th:href="@{/shop?category_id=1}" class="btn btn-outline-secondary btn-sm me-1 mb-2">定食</a>
							  <a th:href="@{/shop?category_id=2}" class="btn btn-outline-secondary btn-sm me-1 mb-2">焼肉</a>
							  <a th:href="@{/shop?category_id=3}" class="btn btn-outline-secondary btn-sm me-1 mb-2">寿司</a>
							  <a th:href="@{/shop?category_id=4}" class="btn btn-outline-secondary btn-sm me-1 mb-2">手羽先</a>
							  <a th:href="@{/shop?category_id=5}" class="btn btn-outline-secondary btn-sm me-1 mb-2">天ぷら</a>
							  <a th:href="@{/shop?category_id=6}" class="btn btn-outline-secondary btn-sm me-1 mb-2">ラーメン</a>
							  <a th:href="@{/shop?category_id=7}" class="btn btn-outline-secondary btn-sm me-1 mb-2">うどん</a>
							  <a th:href="@{/shop?category_id=8}" class="btn btn-outline-secondary btn-sm me-1 mb-2">居酒屋</a>
							  <a th:href="@{/shop?category_id=9}" class="btn btn-outline-secondary btn-sm me-1 mb-2">イタリアン</a>
							  <a th:href="@{/shop?category_id=10}" class="btn btn-outline-secondary btn-sm me-1 mb-2">喫茶店</a>
							  <a th:href="@{/shop?category_id=11}" class="btn btn-outline-secondary btn-sm me-1 mb-2">カフェ</a>
							 <a th:href="@{/shop?category_id=12}" class="btn btn-outline-secondary btn-sm me-1 mb-2">焼き鳥</a>
							 <a th:href="@{/shop?category_id=13}" class="btn btn-outline-secondary btn-sm me-1 mb-2">鉄板焼き</a>
							 <a th:href="@{/shop?category_id=14}" class="btn btn-outline-secondary btn-sm me-1 mb-2">スイーツ</a>
							 <a th:href="@{/shop?category_id=15}" class="btn btn-outline-secondary btn-sm me-1 mb-2">パン</a>
						  </div>
					</div>

               </div>
			</main>
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		<div th:replace="~{fragment :: scripts}"></div> 
	</body>
</html>