<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<div th:replace="~{fragment :: meta}"></div>

<div th:replace="~{fragment :: styles}"></div>
<!-- Flatpickr -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<title>店舗予約</title>
</head>
<body>
	<div class="nagoyameshi-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/shop}">店舗一覧</a></li>
								<li class="breadcrumb-item"><a
									th:href="@{/shop/__${shop.getId()}__}">店舗詳細</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗予約</li>
							</ol>
						</nav>
						<h1 class="text-center" th:text="${shop.getName()}"></h1>
						<div th:if="${errorMessage}" class="alert alert-warning">
							<span th:text="${errorMessage}"></span>
						</div>
						<br>

						<ul class="nav nav-tabs mb-2">
								 <li class="nav-item">
									 <a class="nav-link link-secondary" th:href="@{/shop/__${shop.getId()}__}">トップ</a> 
								 </li>
								 <li class="nav-item">
									 <a class="nagoyameshi-activ nav-link active text-white" aria-current="page" th:href="@{/shop/__${shop.getId()}__/reservation/createform}">予約</a>
								 </li>
								 <li class="nav-item">
									 <a class="nav-link link-secondary" th:href="@{/shop/__${shop.getId()}__/review}">レビュー</a>
								 </li>
								 <li class="nav-item">
									 <a class="nav-link link-secondary" th:href="@{/shop/__${shop.getId()}__/map}">地図</a>
								 </li>
						</ul>
						<br>
						
						<div sec:authorize="hasRole('ROLE_GENERAL')">
							<p class="text-center">予約するには有料会員登録が必要です。</p>
							<div class="row justify-content-center mb-4">
								 <div class="col-lg-4">
									 <a  th:href="@{/subscription/register}"class="btn text-white shadow-sm w-100 nagoyameshi-btn">アップグレード</a>
								 </div>
							</div>
						</div>
						<div sec:authorize="hasRole('ROLE_PREMIUM')">                  
                                                 <form method="get" th:action="@{/shop/__${shop.getId()}__/reservation/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                     <div class="form-group row mb-4">                                            
                                                         <label for="fromReservationDate" class="col-md-5 col-form-label text-md-center fw-bold">予約日</label>
                                                         <div class="col-md-5">    
                                                         <div th:if="${#fields.hasErrors('fromReservationDate')}" class="text-danger small mb-2" th:errors="*{fromReservationDate}"></div>                                          
                                                         <input type="text" class="form-control" th:field="*{fromReservationDate}">                                                                     
                                                     </div>
                                                     </div>
                                                     
                                                     <div class="form-group row mb-4">                                            
                                                         <label for="fromReservationTime" class="col-md-5 col-form-label text-md-center fw-bold">予約時間</label>
                                                         <div class="col-md-5">    
                                                         <div th:if="${#fields.hasErrors('fromReservationTime')}" class="text-danger small mb-2" th:errors="*{fromReservationTime}"></div>                                          
                                                         
                                                         <input type="text" class="form-control" th:field="*{fromReservationTime}">                                                                 
                                                     </div>
                                                     </div>
                                                     
                                                     <div class="form-group row mb-4">                                            
                                                         <label for="numberOfPeople" class="col-md-5 col-form-label text-md-center fw-bold">予約人数</label> 
                                                         <div class="col-md-5">  
                                                         <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                         <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                     </div>
                                                     </div>
                                                                                                         
                                                     <div class="form-group d-flex justify-content-center mb-4">
                                                         <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">予約する</button>
                                                     </div>
                                                 </form>                                                                     
                                             </div>
				
			
                                         
                                              
					</div>
				</div>
			</div>
		</main>


		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
	<!-- Flatpickr -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	<script th:src="@{/js/flatpickr.js}"></script>
</body>
</html>